html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #000000;
  stroke-width: 1.2373;
  stroke-miterlimit: 11.3386;
}

.st1 {
  fill: #ffffff;
}
